.sign_in-container {
  max-width: 400px;
  margin-top: 30px;
  margin-left: 530px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign_in-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: #ff0000;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f9a826;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #c57e0d;
}

button[type="button"] {
  width: 30%;
  padding: 10px;
  background-color: #f9a826;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #c57e0d;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}



.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f9a826;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #c57e0d;
}

